package views

import "github.com/vinofsteel/templ_blog/internal/database"
import "github.com/vinofsteel/templ_blog/views/components"

templ ExistingArticle(article database.Article) {
    @components.BaseTemplate() {
        <section>
            <h1>{article.Title}</h1>
            <h2>{article.Author}</h2>
        </section>
    }
}