.editor-container {
    display: none;

    width: 70%;

    margin: 30dvh auto 2dvh auto;

    justify-content: center;
    align-items: center;

    gap: 20px;
}

.editor-container form {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.editor-container form button {
    width: 20%;
}

.ql-css-editor::before {
    content: 'CSS';
    font-size: 12px;
    font-weight: bold;
}

#editor {
    height: 300px;
}

#toggle-editor {
    margin-bottom: 12dvh;

    color: blue;
    cursor: pointer;
    transition: 0.3s;
}

#toggle-editor:hover {
    color: red;
}

@media (max-width: 768px) {
    .ql-toolbar {
        width: 100%;
    }
    
    #editor {
        width: 100%;
    }
} 