/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}

/* DEFINIÇÃO DE VARIÁVEIS UTILIZADAS NOS ARQUIVOS */
:root {
    --color-primary: #f8f9fa;

    --color-shade-1: #dee2e6;
    --color-shade-2: #ADB5BD;
    --color-shade-3: #495057;
    --color-shade-4: #212529;

    --color-text: #101010;
    --color-opposite: #e4e4e4;

    --color-outlier: #030383;

    --color-grey-opacity: rgba(33, 37, 41, 0.5)
}

.dark-mode:root {
    --color-primary: #212529;

    --color-shade-1: #495057;
    --color-shade-2: #ADB5BD;
    --color-shade-3: #dee2e6;
    --color-shade-4: #f8f9fa;

    --color-opposite: #101010;
    --color-text: #e4e4e4;

    --color-outlier: #1717F7;

    --color-grey-opacity: rgba(33, 37, 41, 0.5)
}

/* DEFINIÇÕES GLOBAIS UTILIZADAS POR DIVERSOS ARQUIVOS */
body {
	line-height: 1;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-text);
}